fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain_openai
langchain_experimental
langchain-neo4j
sentence-transformers
faiss-cpu
numpy
neo4j
pydantic
pydantic-settings
python-dotenv
httpx
requests
tqdm
PyPDF2
dotenv